---
import '@styles/global.css';

import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import FormattedDate from '@components/layout/formatted-date.astro';
import { createLog } from '@helpers/log';
import Layout from '@layouts/main.astro';

const log = createLog('pages/tags/[...tag]');

export async function getStaticPaths() {
  const posts = await getCollection('posts');

  const tags = posts.flatMap(post => post.data.tags);
  const uniqueTags = [...new Set(tags)];

  return uniqueTags.map(tag => ({
    params: { tag },
    props: tag
  }));
}

const postsWithTag = (await getCollection('posts')).filter(post =>
  post.data.tags?.includes(Astro.params.tag ?? '')
);

const posts = postsWithTag.toSorted(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const tags = posts.flatMap(post => post.data.tags);
const uniqueTags = [...new Set(tags)];

// log.debug('tags', tags);
// log.debug('uniqueTags', uniqueTags);
---

<style>
  main {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 1em;
    color: rgb(var(--gray-dark));
  }
</style>

<Layout>
  <main>
    <h1>Tag: {Astro.params.tag}</h1>
    <section>
      <ul>
        {
          posts.map(post => (
            <li>
              <a href={`/posts/${post.id}/`}>
                <Image
                  width={720}
                  height={360}
                  src={post.data.heroImage}
                  alt=""
                  fit="cover"
                />
                <h4 class="title">{post.data.title}</h4>
                <p class="date">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
