---
import { Modal } from 'accessible-astro-components';
import { Image } from 'astro:assets';

interface Props {
  src: ImageMetadata;
  alt: string;
  width?: number;
  height?: number;
  fit?: 'cover' | 'contain' | 'fill' | 'none' | 'scale-down';
}

const { src, alt, width, height, fit } = Astro.props;
const modalId = `modal-${Math.random().toString(36).substring(7)}`;
---

<div class="cursor-pointer">
  <button
    id={modalId}
    class="w-full bg-transparent border-0 p-0 cursor-pointer">
    <Image
      src={src}
      alt={alt}
      width={width}
      height={height}
      fit={fit}
      class="transition-transform duration-200 ease-in-out hover:scale-102"
    />
  </button>
</div>

<Modal
  triggerId={modalId}
  closeText="Close"
  closeIcon={false}
  class="w-[95vw] max-w-[95vw] rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-100 shadow-lg">
  <div class="modal-image-container flex justify-center items-center p-4">
    <img
      src={src.src}
      alt={alt}
      class="max-w-[min(calc(100vw-4rem),calc(100vh-4rem))] max-h-[min(calc(100vh-4rem),calc(100vw-4rem))] w-auto h-auto"
    />
  </div>
</Modal>
